<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>
<body>
    <h1> hAii~~~  welcome to PyAutoBlog UwU :3 </h1>
    {% for post in posts %}
        <a class="samecolor" href="/posts/{{ post["title"] }}"> {# yes this looks extremely ugly in the ide #}
                <div class="post-item">
                    <h3> {{ post["pretty_title"] }} </h3>
                    <h4> {{ post["date"] }} </h4>
                </div>
        </a>    
    {% endfor %}
</body>